.
/lib
/.vscode
/_case
/.vscode
/src/oneD_conduction
/src/temperature
/src/sliding_lid/energy_tst.f90
/src/energy/conv_diff3D.f90
/src/energy/adv_diff.f90
/src/energy/unst_conv_diff3D.f90
/src/vtk
/bin/adv_diff
/bin/conv_diff3D
/bin/energy_tst
/bin/oneD_conduction
/bin/temp_2D
/bin/unst_conv_diff3D
/obj/conv_diff3D.o
